<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de propiedad</title>
    <link rel="stylesheet" href="../css/detalllespropiedad.css">
    <link rel="shortcut icon" href="/img/property detail.png" type="image" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
    <header>

        <div class="logo">
            <a href="./index.html"><img src="/img/logo inmobiliaria.jpeg" alt=""></a>
          </div>
    
        
        <div class="Cabecera">
            <h1>Inmobiliaria Segura</h1>
            <h3>¡Somos la mejor opcion para ti y tu comodidad!</h3>
            <nav class="enlaces">
              <a href="./index.html">Inicio</a>
              <!-- <a href="./detallespropiedad.html">Propiedades</a> -->
              <a href="./contacto.html">Contacto</a>
              <a href="./login.html">Ingreso</a>
              <a href="./Formulario.html">Deseo informacion</a>
            </nav>
        </div>
        
    </header>

    <main>

        

        


    </main>





    <br>
    <footer>
        <div>
            <a href="https://facebook.com" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://twitter.com" target="_blank">
                <i class="fab fa-twitter"></i> 
            </a>
            <a href="https://instagram.com" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://linkedin.com" target="_blank">
                <i class="fab fa-linkedin"></i> 
            </a>
        </div>
        <P>Contactenos a través de:</P>
        <p>Whatsapp: <a href="Contacto">311 297 4114</a></p>
        <p>Correo Electronico: <a href="Correo">InmobiliariaSegura@gmail.com</a></p>
        <p>Información sobre nosotros: <a href="Sobre nosotros">¿Quienes somos?</a></p>

    </footer>
</body>
</html>