<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperacion</title>
    <link rel="stylesheet" href="/EstiloPagina(CSS)/recuperacion.css">

</head>

<body>

  <header>

    <div class="logo">
        <img src="/img/logo inmobiliaria.jpeg" alt="">
      </div>

      

</header>

  <main>

    <div class="recuperacion">
      <h1>Recuperacion de Contraseña</h1>
      <p>Introduzca su correo electrónico para recuperar su contraseña</p>
      <form action="">
          <input type="email" placeholder="Correo Electrónico">
          <button type="submit">Recuperar</button>
      </form>
      
    </div>



  </main>
    
</body>
</html>