<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
    <link rel="shortcut icon" href="/img/property detail.png" type="image" >
    <link rel="stylesheet" href="./css/detallePropiedad.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
    <header>
        <div class="logo">
          <a href="../index.html"><img src="../../img/logo inmobiliaria.jpeg" alt=""></a>
        </div>
    
        <div class="Cabecera">
          
        <h1>Inmobiliaria Segura</h1>
        <h3>¡Somos la mejor opcion para ti y tu comodidad!</h3>
        <nav class="enlaces">
          <a href="../index.html">Inicio</a>
          <!-- <a href="./detallespropiedad.html">Propiedades</a> -->
          <a href="../contacto.html">Contacto</a>
          <a href="../login.html">Ingreso</a>
          <a href="../Formulario.html">Deseo informacion</a>
          <a href="../basedatos.html">Grafico PowerBI</a>
        </nav>
        </div>
    </header>
    <main>

        
         <!-- Carrusel de imágenes -->
        <section class="carousel-container">
            <div class="carousel" id="carousel">
                <img src="../../img/propiedad1/foto1.jpg" alt="Foto 1" width="100%">
                <img src="../../img/propiedad1/foto2.jpg" alt="Foto 2" width="100%">
                <img src="../../img/propiedad1/foto3.jpg" alt="Foto 3" width="100%">
                <img src="../../img/propiedad1/foto4.jpg" alt="Foto 4" width="100%">
                <img src="../../img/propiedad1/foto5.jpg" alt="Foto 5" width="100%">
                <img src="../../img/propiedad1/foto6.jpg" alt="Foto 6" width="100%">
                <img src="../../img/propiedad1/foto7.jpg" alt="Foto 7" width="100%">
                <img src="../../img/propiedad1/foto8.jpg" alt="Foto 8" width="100%">
                <img src="../../img/propiedad1/foto9.jpg" alt="Foto 9" width="100%">
            </div>
            <div class="carousel-buttons">
                <button id="prev">&lt;</button>
                <button id="next">&gt;</button>
            </div>
            <div class="carousel-tabs" id="carousel-tabs"></div>
        </section>

        <!-- Detalles de la propiedad -->
        <section class="property-details">
            <h2>Detalles de la Propiedad</h2>
            <p><strong>Ubicación:</strong> Medellín, Poblado</p>
            <p><strong>Precio:</strong> $350,000,000</p>
            <p><strong>Descripción:</strong> Hermoso apartamento con 3 habitaciones, 2 baños, cocina integral y una amplia sala comedor. Ubicado cerca de centros comerciales y transporte público.</p>
            <p><strong>Contacto:</strong> Llámanos al 311 297 4114 o envíanos un correo a <a href="mailto:InmobiliariaSegura@gmail.com">InmobiliariaSegura@gmail.com</a></p>
        </section>


        


    </main>



<br>
<footer>

        <div>
          <a href="https://facebook.com" target="_blank">
              <i class="fab fa-facebook"></i>
          </a>
          <a href="https://twitter.com" target="_blank">
              <i class="fab fa-twitter"></i> 
          </a>
          <a href="https://instagram.com" target="_blank">
              <i class="fab fa-instagram"></i>
          </a>
          <a href="https://linkedin.com" target="_blank">
              <i class="fab fa-linkedin"></i> 
          </a>
      </div>
          <P>Contactenos a través de:</P>
          <p>Whatsapp: <a href="Contacto">311 297 4114</a></p>
          <p>Correo Electronico: <a href="Correo">InmobiliariaSegura@gmail.com</a></p>
          <p>Información sobre nosotros: <a href="Sobre nosotros">¿Quienes somos?</a></p>
      
      </footer>
</body>


<script src="../../controllers/detallespropiedad.js"></script>
</html>